@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

:root {
  --primary: rgb(33, 168, 33);
  --secondary: rgb(25, 101, 25);
  --background: rgb(0, 0, 0);
  --secondary-bg: rgb(22, 24, 25);
  --text: #f4f4f4;
  --font: "Quicksand", sans-serif;
}

html {
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  background-color: var(--background);
  color: rgb(255, 255, 255);
  font-family: var(--font);
}

header {
  text-align: center;
  padding-top: 5em;
  
}
